body {
    font-family: sans-serif;
    background-color: #2A2026;   /* fondo oscuro */
    justify-content: center;
}

h1 {
    color: #ff4dff;
    text-shadow: 0 0 10px #ff4dff;
    text-align: center;
}

.Entrada {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    color: #ff4dff;
}

.Entrada select {
    margin-top: 30px;
}

.Entrada input
 {
    display: grid;
    width: 100%;
    height: 50px;
    margin: 5px 0;
    padding: 0 16px;
    
    background-color: #1a1a1a;
    color: #ff4dff;
    border: 2px solid #ff4dff;

    box-shadow: 0 0 8px #ff4dff;
}
.Entrada select {
    display: grid;
    width: 100%;
    height: 50px;
    background-color: #1a1a1a;
    color: #ff4dff;
    border: 2px solid #ff4dff;

    box-shadow: 0 0 8px #ff4dff;
}

.CalcResultado{
    width: 300px;
    margin: 50px auto;
    text-align: center;
    color: #ff4dff;
    font-size: 1.5em;
    text-shadow: 0 0 10px #ff4dff;
}


.BotonCalcular {
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    
    color: #ff4dff;                  /* texto neón */
    background: transparent;         /* sin fondo */
    border: 2px solid #ff4dff;       /* borde neón */
    border-radius: 8px;
    cursor: pointer;

    text-shadow: 0 0 5px #ff4dff,
                 0 0 10px #ff4dff;

    box-shadow: 0 0 10px #ff4dff,
                0 0 20px #ff4dff,
                inset 0 0 10px #ff4dff;

    transition: 0.2s ease-in-out;
}

/* Efecto hover */
.BotonCalcular:hover {
    box-shadow: 0 0 15px #ff4dff,
                0 0 30px #ff4dff,
                inset 0 0 15px #ff4dff;

    color: #280021;                    /* texto oscuro para contraste */
    background-color: #ff4dff;         /* brillo rosa */
}

